body{
    font-family: 'Otomanopee One', sans-serif;
    margin: 0%;
}
#portion-color{
    color: coral;
}
.styleing-chart{
    text-decoration: none;
    background-image: linear-gradient(40deg, orange,crimson);
    padding: 10px 20px;
    border-radius: 40px;
   
}
.gap{
    margin-bottom: 40px;
}
.First-portion{
    display: flex;
    padding: 100px;
  
}
.height-wihdth{
    width: 50%;
}
.height-wihdth img{
    width: 60%;
}
#diet-images{
    padding-left: 700px;
}
#diet-par{
    padding-left: 400px;
    padding-right: 400px;
}
.Receipe-portion{
    display: flex;
 padding-left: 80px;
    border: white solid 40px;
    
}
.Receipe-portion img{
    width: 400px;
    height: 300px;
    
   
}
.border{
    border: solid 5px rgb(214, 199, 199);

border-radius: 40px;
margin:10px;
}
.inline{
    display: flex;
    padding-left: 400px;
   background-color:rgb(240, 235, 235);
   margin-left: 110px;
   margin-right: 110px;
   
}
.distance{
    padding-right: 70px;
}
.close{
    padding: 10x;
}
